.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin: auto ;
    width: 350px;
    text-align: center;
}

.signup-button {
    padding: 5px;
    margin-bottom: 2rem;
    width: 10rem;
    cursor: pointer;
    margin-top: 1rem;
}

.errors {
    color: red;
}

.signup-btn {
    padding: .2rem;
    width: 7rem;
    cursor: pointer;
}
