.notebooks-page {
    border: 5px solid rgba(32, 31, 31, 0.899) ;
    border-radius: 30px;
    background-color: #f5f5f5;
    width: auto;
    margin: auto;
    padding-left: 10px;
    font-size: 20px;
    font-family: courier, monospace;
}
li {
    color: blue;
}
