li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.nav{
    background-color: rgb(246, 249, 250);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}

.nav-links {
    display: flex;
    justify-content: row;
    gap: 0.5rem;
}

.session-links {
    margin-right: 1rem;
}

.login-signup {
    padding-right: 10px;
}

.logo {
    width: 2.5rem;
    height: 2rem;
    padding-left: .8rem;
}

.logo-name {
    font-size: 1.8rem;
}

.username-logout {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    font-size: 1rem;
    align-items: center;
    padding: 0.2rem;
}

.logout-btn {
    width: 4rem;
    font-size: .8rem;
}
